@import 'src/styles/variables';
@import 'src/styles/mixins';

.main {
  @include page;
  background-color: white;
  color: black;
  padding: 2rem 0;
  width: 100%;
  display: flex;;
  justify-content: center;

  &-content {
    @include page-align;
  }

  &-mobile-protection {
    @include mobile-protection;
  }


}