@import 'src/styles/variables';
@import 'src/styles/mixins';

.text-entry {
    background-color: $primary-blue;
    min-height: 300px;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: column;

    &-content {
        @include body-content;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 1.4rem;
    }

    &-quill {
        background-color: white;
        margin-top: 1rem;
        border-radius: 5px;
        width: 100%;
        color: black;

        @include quill;

        & > *:last-child {
            min-height: 300px;
        }
    }

    &-button {
        cursor: pointer;
        border: none;
        color: white;
        background-color: transparent;
        font-weight: 400;;
        font-size: 14px;
    }
}

.simplify-language-button {
    cursor: pointer;
    background-color: $primary-yellow;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 1.4rem;

    &:disabled {
        cursor:not-allowed;
    }
}

.disclaimer {
    margin-top: 2rem;
    font-size: 14px;
    color: white;
}

.invalid {
    margin-top: 0.5rem;
    color: red;
}

.loading {
    display: flex;
    align-items: center;

    .loading-text {
        margin-left: 1rem;
    }
}

.bullets {
    color: white;
    padding: 1rem 2rem;
    font-size: 12px;
}