@import 'src/styles/mixins';

.footer {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #d9d5d5;
    color: black;

    &-text {
        @include page-align;
        font-size: 12px;
    }
}