@import 'src/styles/variables';

.header {
    padding: 1.5rem 0rem;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: $header-white;
    align-items: center;

    
    .nav {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1200px) {
            width: 80%;
        }
    }

    @media screen and (max-width: 1000px) {
        padding: 1.5rem 1rem;
    }
}

.root {
    all: unset;
}

.navigation {
    display: flex;
    gap: 3rem;
    list-style-type: none;

    @media screen and (max-width: 1000px) {
        gap: 1rem;
    }
    @media screen and (max-width: 700px) {
        gap: 0.7rem;
    }
}

.title {
    color: $primary-blue;

    @media screen and (max-width: 1000px) {
        font-size: 1.4rem;
    }

    @media screen and (max-width: 700px) {
        font-size: 1rem;
    }
}

.link {
    color: $link-gray;
    cursor: pointer;
    
    @media screen and (max-width: 700px) {
        font-size: 0.9rem;
    }
}