@mixin body-content {
    width: 80%;
    max-width: 1200px;
}

@mixin quill {
    & > *:first-child {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    & > *:last-child {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

@mixin page {
    min-height: calc(100vh - 165px);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;;
    position: relative;
  
    @media  (max-width: 1000px) {
      min-height: calc(100vh - 155px);
    }
  
    @media  (max-width: 700px) {
      min-height: calc(100vh - 145px);
    }
}


@mixin mobile-protection {
    min-height: calc(100vh - 145px);
    position: absolute;
    display: none;
    width: 100%;
    padding: 1.5rem;
  
    @media  (max-width: 500px) {
      display: flex;
      align-items: center;
      background: white;
      min-height: calc(100vh - 145px);
      justify-content: center;

      &-content {
        font-size: 1.4rem;
        max-width: 80%;
        background-color: white;
        color: $primary-blue
      }
    }
}