@import 'src/styles/variables';
@import 'src/styles/mixins';

.main {
  @include page;


  &-content {
    display: flex;
    min-height: calc(100vh - 165px);

    @media  (max-width: 1200px) {
      display: block;
    }

    @media  (max-width: 500px) {
      display: none;
    }
  }

  &-mobile-protection {
    @include mobile-protection;
  }
}


